.header{
    text-align: center;
}
.header img{
    height: 80px;

}

.header nav{
   background-color: black;
   padding: 15px;
}

nav a{

    text-decoration: none;
    margin-right: 10px;
    color:white;
    font-size: 1rem;
    padding: 10px;
}
nav a:hover{
    background-color: grey;
}